<mat-toolbar color="primary" class="navbar">
  <!-- Left: Logo -->
  <span class="logo">
    <a mat-button routerLink="/dashboard" routerLinkActive="active">📋 GeRe</a>
  </span>

  <!-- Right: Navigation -->
  <span class="nav-links">
    <ng-container *ngIf="isAuthenticated()">
      <a mat-button routerLink="/dashboard" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon> Dashboard
      </a>
      <a mat-button routerLink="/reclamations" routerLinkActive="active">
        <mat-icon>report_problem</mat-icon> Réclamations
      </a>
      <a mat-button routerLink="/suivis" routerLinkActive="active">
        <mat-icon>timeline</mat-icon> Suivis
      </a>
      <!-- <a mat-button disabled class="username">
        <mat-icon>person</mat-icon> {{ getUsername() }}
      </a> -->
      <a mat-button  (click)="logout()" routerLink="/login">
        <mat-icon>logout</mat-icon> Logout
      </a>
    </ng-container>

    <ng-container *ngIf="!isAuthenticated()">
      <a mat-button routerLink="/login" routerLinkActive="active">
        <mat-icon>login</mat-icon> Login
      </a>
      <a mat-button routerLink="/register" routerLinkActive="active">
        <mat-icon>person_add</mat-icon> Register
      </a>
    </ng-container>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
