<form (ngSubmit)="onSubmit()" [formGroup]="registerForm" class="cute-form">
  <div *ngIf="message" class="cute-message success">
    <mat-icon>check_circle</mat-icon>
    {{ message }}
  </div>
  
  <div *ngIf="error" class="cute-message error">
    <mat-icon>error</mat-icon>
    {{ error }}
  </div>

  <mat-form-field appearance="fill" class="cute-input">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" placeholder="Your cute username" required>
    <mat-icon matSuffix>person</mat-icon>
    <mat-hint>Enter your adorable username</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill" class="cute-input">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password" placeholder="Super secret password" required>
    <mat-icon matSuffix>lock</mat-icon>
    <mat-hint>Shh... it's a secret!</mat-hint>
  </mat-form-field>

  <button mat-raised-button type="submit" class="cute-button">
    <mat-icon>login</mat-icon>
    Log In
  </button>

  <div class="cute-footer">
    <p>New here? <a routerLink="/register" class="cute-link">Create an account</a></p>
    <p>Forgot your password? <a routerLink="/forgot-password" class="cute-link">Click here</a></p>
  </div>
</form>