.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

mat-dialog-content {
  min-width: 400px;
  padding-top: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

mat-dialog-actions {
  padding: 1rem;
}

button {
  margin-top: 1rem;
}

.button-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .mat-icon {
    margin-right: 0;
  }
}

:host ::ng-deep {
  .mat-mdc-form-field-hint {
    font-size: 0.75rem;
    opacity: 0.7;
  }

  .mat-mdc-form-field-subscript-wrapper {
    height: 20px;
  }
}
